.App {
  text-align: center;
}



.inner {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1300px;
}

/*--------------------------회원가입창----------------------------*/

.join-container {
  text-align: left;
}

/*기본정보기입*/
.userInfo-container {
  margin-top: 60px;
}

.userInfo-title {
  font-size: 30px;
  margin-left: -2px;
}

.userInfo-sub {
  margin-top: 70px;
  font-weight: bold;
}

.userInfo-box {
  list-style: none;
  padding: 0;
}

.doublechk-btn {
  margin-left: 10px;
}

.pw-condition {
  margin: 0;
  font-size: 12px;
}

.warning {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  color: red;
}

.info {
  display: flex;
  border-top: 1px solid rgb(224, 224, 224);
  padding: 10px 0;
  align-items: center;
}

.input-info {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  height: 32px;
  width: 180px;
}

.infoname {
  width: 150px;
  padding-left: 10px;
}

li.phone{
  border-bottom: 1px solid rgb(202, 202, 202);
}

.phone-box {
  display: flex;
  width: 100%;
}

.phone select {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  width: 90px;
  height: 33px;
}

.phoneNum {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  width: 100px;
}


/*동의관련 체크박스*/


.tou-container {
  margin-top: 70px;
  font-weight: bold;
}

.tou-box  {
  background-color: rgb(245, 245, 245);
  border: solid 1px rgb(228, 228, 228);
  height: auto;
}

.all-check {
  height: 70px;
  border-bottom: solid 1px rgb(207, 207, 207);
  display: flex;
  align-items: center;
}

.check-custom img {
  margin-left: 10px;
  width: 30px;
}

.check-custom img:hover {
  cursor: pointer;
}

.check-custom input {
  display: none;
}

.all-check input {
  margin-left: 10px;
 
}

.all-check p {
  margin: 0;
  margin-left: 10px;
}

.tou {
  height: 240px;
  border-bottom: solid 1px rgb(207, 207, 207);
}

.tou p {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 13px;
  font-size: 14px;
}

.touitem {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
}
.touitem img {
  width: 20px;
}
.touitem p {
  margin: 0;
}

.toutext-box {
  width: 100%;
  padding: 0 10px;
}

.toutext{
  width: 100%;
  background-color: rgb(255, 255, 255); 
  border: 1px solid rgb(155, 155, 155);
  
}

.joinbtn-box{
  display: flex;
  justify-content: center;
}

.joinbtn {
  width: 150px;
  height: 50px;
  margin-top: 50px;
  border: solid 1px rgb(170, 170, 170);
  background-color: rgb(87, 87, 87);
  color: rgb(255, 255, 255);
  font-family: 'esmanru_l';
}

.joinbtn:hover {
  border: solid 1px rgb(219, 219, 219);
  background-color: rgb(246, 252, 255);
  color: rgb(77, 77, 77);
}

.joinbtn:active {
  border: solid 1px rgb(219, 219, 219);
  background-color: rgb(246, 252, 255);
  color: rgb(77, 77, 77);
  box-shadow: 1px 1px 1px 1px black;
}



/*---------header 관련 속성----------*/

.member-container {
  display: flex;
  justify-content: right;
}

.mem {
  margin-top: 15px;
  margin-right: 40px;
}

.join {
  cursor: pointer;
}

.login {
  cursor: pointer;
}

.logo-container {
  margin: 0 350px;
}

.logo-container:hover {
  cursor: pointer;
}

.logo-box{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

}

.logo-img,.logo-title:hover{
  cursor:pointer;
}

.logo-img {
  width: 50px;
}

.logo-title {
  font-size: 30px;
  font-family: 'esmanru_m';
  font-weight: bold;
  margin-left: 10px;
}

.navbar {
  width: 100%;
  height: 40px;
  background-color: rgb(19, 19, 19);
  z-index: 1001;
}

.navbar-fixed {
  width: 100%;
  height: 40px;
  background-color: rgb(19, 19, 19);
  z-index: 1001;
  top: 0;
  position: fixed;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: space-around;
  list-style: none;
  color: aliceblue;
  font-size: 17px;
  font-family: "cafe";
  padding: 0;
}

.menu:hover {
  cursor: pointer;
}
/*---------로그인모달창--------------*/

.Background {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1500;
}
.login-container {
  background-color: rgb(245, 245, 245);
  position: absolute;
  left: 30%;
  top: 20%;
  width: 370px;
  border-radius: 10px;
  height: auto;

}


.loginTitle-container {
  width: 100%;
  height: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginTitle {
  margin-left: 30px;
  margin-bottom: 0;
}

.loginCloseBtn {
  margin-right: 40px;
  margin-bottom: 20px;
  width: 25px;
  height: 15px;
  border: none;
  background-color: rgb(245, 245, 245);
}

.loginCloseBtn img {
  width: 100%;
  height: 100%;
}

.loginInput-container {
  width: 100%;
  height: 80px;
  text-align: left;
  margin-left: 30px;
  margin-top: 25px;
}

.loginInput-container input {
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(233, 233, 233);
  background-color: rgb(245, 245, 245);
}

.loginInput-container input:focus {
  outline: none;
  border-bottom: solid 2px black;
}
 
.loginID {
  margin-bottom: 20px;
}

.loginBtn-container {
  width: 100%;
  height: 60px;
  margin-top: 35px;
}

.login-btn {
  width: 100%;
  height: 100%;
  border:none;
  background-color: rgb(240, 66, 66);
  color: aliceblue;
  font-family: 'esmanru_l';
}

.login-btn:hover {
  background-color: rgb(208, 0, 0);
}

.signup-btn {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border:none;
  background-color: rgb(59, 57, 211);
  color: aliceblue;
  font-family: 'esmanru_l';
}

.signup-btn:hover {
  background-color: rgb(0, 38, 255);
}












/*---------main 관련 속성----------*/

.slidemain {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.arrow {
  z-index: 1000;
  position:absolute;
  opacity: 0.5;
  display: flex;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  height: inherit;
  justify-content: space-between;
  align-items: center;
}

.arrowleft {
  width: 50px;
  height: 50px;
}

.arrowright {
  width: 50px;
  height: 50px;
}

.arrowleft:hover {
  cursor: pointer;
}
.arrowright:hover {
  cursor: pointer;
}

.sl-container {
  width: 100%;
  height: 400px;
  background-color: rgb(12, 12, 12);
  overflow: hidden;
}

.slider {
  list-style: none;
  height: 100%;
  position: relative;
  display: flex;
  padding-left: 0;
}

.slide {
  width: 100vw;
  height: 100%;
}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*---------------Top list 속성-------------- */

.container {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1300px;
}
.title-container {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.title-container div {
  float: left;
  font-size: 20px;
  font-weight: bold;
}

.list-container {
  width: 100%;
  
}
.listbox{
  display: flex;
  list-style: none;
  padding: 0;
}

.list:not(:last-child){
  margin-right: 30px;
}

.img-wrapper {
  border: solid 1px rgb(187, 187, 187);
}

.img-wrapper img {
  width: 100%;
  height : 100%;
  object-fit: cover;
}

.box {
  position: absolute;
  width: 50px;
  overflow: hidden;
}
.box img {
  position: relative;
  top: -10px;
}

/*--------------------------------------- */
footer {
  position: relative;
  margin-top:400px;
  padding-bottom: 50px;
  background-color: rgb(247, 247, 247);
  border-top: rgb(231, 231, 231) solid 1px;
}

.footer-content {
  display: flex;
  list-style: none;
  justify-content: space-around;
  border-bottom: rgb(194, 194, 194) solid 0.5px;
  text-align: center;
  margin: 20px auto;
  padding: 15px 50px;
  width: 50%;
}

/*------------product페이지 css 속성 ------------- */
.product-container {
  width: 100%;
  height: 1000px;  
  margin-top: 50px;
} 

.product-title{
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding-top: 8px;
  border-bottom: rgb(209, 209, 209) solid 1px;
  text-align: left;
}

.sort-box {
  width: 100%;
  height: 30px;
  margin-top: 25px;
  margin-bottom: 40px;
  display: flex;
  justify-content: right;
  align-items: center;

}
.sort-box:hover {
  cursor: pointer;
}
.sort-box div:not(:last-child) {
  margin-right: 15px;
}

.product-box {
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

.ulProduct {
  list-style: none;
  padding: 0;
  display: grid;
  grid-row-gap: 100px;
  grid-template-columns: repeat(4, 1fr);

}

.liProduct:not(:last-child){
  margin-right: 10px;
}

.liProduct:hover {
  cursor: pointer;
}


.liproduct-imgwrap {
  border: rgb(211, 211, 211) solid 1px;
}


.liproduct-imgwrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.liproduct-text {
  margin-top: 10px;
}

.liproduct-text p {
  margin-bottom: 5px;
}

/*------------detail페이지 css 속성 ------------- */

.detail-container {
  width: 100%;
  height: 1000px;
  margin-top: 100px;
}

.detail-product {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
  border: rgb(221, 221, 221) 1px solid;
  width: 800px;
  background-color: rgb(252, 252, 252);
  border-radius: 3px;
  margin: 0 auto;
}

.detail-imgwrap {
  width: 300px;
  height: 450px;
  margin: 50px 0;
  box-shadow: 1px 1px 2px 1px rgb(151, 151, 151);
  border: rgb(214, 214, 214) 1px solid;
}

.detail-imgwrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-box {
  width: 400px;
  margin: 50px 0;
  margin-left: 50px;
}

.detail-text {
  width: 335px;
  border-top: 2px solid rgb(134, 134, 134);
  text-align: left;
  margin-left: 15px;
}

.detail-name {
  margin-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: solid 1px rgb(201, 201, 201);
}

.detail-price {
  margin-top: 15px;
  padding-left: 3px;
  padding-bottom: 16px;
  font-size: 15px;
  border-bottom: solid 1px rgb(201, 201, 201);
}

.detail-button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.detail-button button {
  width: 160px;
  height: 50px;
  margin:  0 10px;
  border-radius: 1px;
  border: solid 1px rgb(151, 151, 151);
  background-color: rgb(99, 99, 99);
  color: aliceblue;
  font-family: 'esmanru_l';
  font-weight: lighter;
}

.detail-button button:hover {
  background-color: aliceblue;
  color: rgb(99, 99, 99);
}
/*-----------------장바구니------------------- */


.cart-container {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  margin-top: 70px;
}

.cart-titlebox{
  border-bottom: solid 2.5px rgb(49, 49, 49);
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
}

.cart-titlebox p {
  padding-top: 6px;
  padding-left: 10px;
  text-align: left;
  font-size: 25px;
  font-family: 'esmanru_m';
}

.main-checkbox {
  width: 50px;
}


.checkbox {
  width: 50px;
}

.cart-listbox{
  list-style: none;
  padding: 0;
  display: grid;
  height: 50px;
  align-items: center;
  border: solid 1px rgb(216, 216, 216);
  margin-bottom: 0;
  grid-template-columns: 1fr repeat(5,2fr) ;
  background-color: rgb(240, 240, 240);
  font-size: 14px;
}


.list-item{
  list-style: none;
  padding: 0;
  display: grid;
  height: 100px;
  grid-template-columns: 1fr repeat(5,2fr) ;
  background-color: rgb(255, 255, 255);
  border-bottom: rgb(214, 214, 214) solid 1px;
  border-left: rgb(214, 214, 214) solid 1px;
  border-right: rgb(214, 214, 214) solid 1px;
  align-items: center;
  margin-bottom: 0;
}

.list-item button {
  width: 28px;
  margin-left: 5px;
  border: 1px solid rgb(223, 223, 223);
  background-color: rgb(241, 241, 241);
  color: rgb(82, 82, 82);
}

.list-img {
  width: 60px;
  height: 80px;
  justify-self: center;
}

.list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.basket-btn {
  display: flex;
}

.paybtn {
  width: 150px;
  height: 50px;
  margin-left: 230px;
  margin-top: 50px;
  border: solid 1px rgb(170, 170, 170);
  background-color: rgb(87, 87, 87);
  color: rgb(255, 255, 255);
  font-family: 'esmanru_l';
}

.paybtn:hover {
  border: solid 1px rgb(219, 219, 219);
  background-color: rgb(246, 252, 255);
  color: rgb(77, 77, 77);
}

.paybtn:active {
  border: solid 1px rgb(219, 219, 219);
  background-color: rgb(246, 252, 255);
  color: rgb(77, 77, 77);
  box-shadow: 1px 1px 1px 1px black;
}

.delbtn {
  width: 90px;
  height: 30px;
  margin-top: 20px;
  background-color: rgb(87, 87, 87);
  color: rgb(255, 255, 255);
  font-family: 'esmanru_l';
  padding-top: 2px;
  border: solid 1px rgb(170, 170, 170);
  font-size: 12px;
}

.delbtn:hover {
  border: solid 1px rgb(219, 219, 219);
  background-color: rgb(246, 252, 255);
  color: rgb(77, 77, 77);
}

.delbtn:active {
  border: solid 1px rgb(219, 219, 219);
  background-color: rgb(246, 252, 255);
  color: rgb(77, 77, 77);
  box-shadow: 1px 1px 1px 1px black;
}



/*--------------------------------------- */
@font-face {
  font-family: "esmanru_m";
  src: url(./font/esamanru_M.ttf);
}

@font-face {
  font-family: "cafe";
  src: url(./font/Cafe24Dangdanghae.ttf);
}

@font-face {
  font-family: "esmanru_l";
  src: url(./font/esamanru\ Light.ttf);
}

@media (max-width : 750px) {
  .box{
    width: 30px;
  }
  .box img {
    top: -5px;
  } 
}


@media (max-width : 840px) {
  .detail-product {
    width: 100%;
    flex-direction: column;

  }

  .detail-imgwrap {
    margin: 15px auto;
  }
  .detail-box {
    margin: 0  auto;
    margin-top: 30px;
  }
  .detail-text {
    width: 300px;
    margin-left: 43px;
  }

  .detail-button {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: -15px;
  }
  
  .detail-button button {
    width: 140px;
    height: 50px;
  }
  
  
}

/*모바일*/
@media all and (max-width:479px) {

  .detail-product {
    width: 350px;

  }
  .detail-box {
    width: 350px;
    margin-left: -68px;
  }

  .detail-imgwrap {
    margin-left: -25px;
  }

  .detail-button {
    margin-left: 30px;
  }
  .img-wrapper {
    width: 90px;
    height: 200px;
  }

  .container {
    margin-left: -20px;
  }

}

