.App {
  text-align: center;
  margin: 0;
}



.inner {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1300px;
}

/*--------------------------회원가입창----------------------------*/

.join-container {
  text-align: left;
}

/*기본정보기입*/
.userInfo-container {
  margin-top: 60px;
}

.userInfo-title {
  font-size: 30px;
  margin-left: -2px;
}

.userInfo-sub {
  margin-top: 70px;
  font-weight: bold;
}

.userInfo-box {
  list-style: none;
  padding: 0;
}

.doublechk-btn {
  margin-left: 10px;
}

.pw-condition {
  margin: 0;
  font-size: 12px;
}

.warning {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  color: red;
}

.info {
  display: flex;
  border-top: 1px solid rgb(224, 224, 224);
  padding: 10px 0;
  align-items: center;
}

.input-info {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  height: 32px;
  width: 180px;
}

.pw{
  padding-bottom: 45px;
}

.warning {
  position: absolute;
  margin-top: 100px;
}

.pw-condition {
  position: absolute;
  margin-top: 61px;
  margin-left: 10px;
}

.infoname {
  width: 150px;
  padding-left: 10px;
}

li.phone{
  border-bottom: 1px solid rgb(202, 202, 202);
}

.phone-box {
  display: flex;
  
}

.phone select {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  width: 70px;
  height: 30px;
  margin-left: -26px;
}

.phoneNum {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  width: 70px;
  height: 30px;
}


/*동의관련 체크박스*/


.tou-container {
  margin-top: 70px;
  font-weight: bold;
}

.tou-title {
  font-family:'malgun-gothic';
}

.tou-box  {
  background-color: rgb(245, 245, 245);
  border: solid 1px rgb(228, 228, 228);
  height: auto;
}

.all-check {
  height: 70px;
  border-bottom: solid 1px rgb(207, 207, 207);
  display: flex;
  align-items: center;
  font-family: 'malgun-gothic';
  font-size: 14px;
}

.check-custom img {
  margin-left: 10px;
  width: 24px;
}

.check-custom img:hover {
  cursor: pointer;
}

.check-custom input {
  display: none;
}

.all-check input {
  margin-left: 10px;
 
}

.all-check p {
  margin: 0;
  margin-left: 10px;
}

.tou {
  height: auto;
  border-bottom: solid 1px rgb(207, 207, 207);
}

summary {
  font-size: 12px;
  font-family: 'malgun-gothic';
  font-weight: bold;
  color: #161616;
}


.tou p {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 13px;
  font-size: 14px;
}

.touitem {
  display: flex;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 19px;
  margin-left: 10px;
  font-family:'malgun-gothic';
}
.touitem img {
  width: 20px;
}
.touitem p {
  margin: 0;
}

.toutext-box {
  width: 100%;
  padding: 0 10px;
  margin-top: 16px;
}

.toutext{
  width: 100%;
  background-color: rgb(255, 255, 255); 
  border: 1px solid rgb(155, 155, 155);
  margin-top: 10px;
}

.joinbtn-box{
  display: flex;
  justify-content: center;
}

.joinbtn {
  width: 150px;
  height: 50px;
  margin-top: 50px;
  border: solid 1px rgb(170, 170, 170);
  background-color: rgb(87, 87, 87);
  color: rgb(255, 255, 255);
  font-family: 'esmanru_l';
}

.joinbtn:hover {
  border: solid 1px rgb(219, 219, 219);
  background-color: rgb(246, 252, 255);
  color: rgb(77, 77, 77);
}

.joinbtn:active {
  border: solid 1px rgb(219, 219, 219);
  background-color: rgb(246, 252, 255);
  color: rgb(77, 77, 77);
  box-shadow: 1px 1px 1px 1px black;
}



/*---------header 관련 속성----------*/

.member-container {
  display: flex;
  justify-content: right;
  margin-bottom: -15px;
  border-bottom: 1px solid rgb(202, 202, 202);
  padding-bottom: 12px;
}

.mem {
  margin-top: 15px;
  margin-right: 40px;
  
}

.join {
  cursor: pointer;
  font-family: "malgun-gothic",sans-serif;
  font-size: 14px;
  font-weight: bold;
}


.login {
  cursor: pointer;
  font-family: "malgun-gothic",sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.cart {
  font-family: "malgun-gothic",sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.cart:hover {
  cursor: pointer;
}

.loginuser-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: right;
  position:absolute;
  right: 175px;
}


.loginuser-box {
  display: flex;
  align-items: center;
}

.loginuser-box:hover {
  cursor: pointer;
}



.loginuser-container img {
  width: 25px;
  height: 22px;
  margin-top: 2px;
}

.loginuser-dpname {
  font-family: "malgun-gothic",sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-top: -2px;
  color: rgb(51, 51, 51);
}


.logo-box{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 33px;

}

.logo-img,.logo-title:hover{
  cursor:pointer;
}

.logo-img {
  width: 50px;
}

.logo-title {
  font-size: 30px;
  font-family: 'esmanru_m';
  font-weight: bold;
  margin-left: 10px;
}

.navbar {
  width: 100%;
  height: 40px;
  background-color: #131313;
  z-index: 1001;
}

.navbar-fixed {
  width: 100%;
  height: 40px;
  background-color: rgb(19, 19, 19);
  z-index: 1001;
  top: 0;
  position: fixed;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content: space-around;
  list-style: none;
  color: aliceblue;
  font-size: 17px;
  font-family: "cafe";
  padding: 0;
}

.menu:hover {
  cursor: pointer;
}

/*---------프로필모달창--------------*/

.profil-container {
  background-color: rgb(26, 32, 43);
  position: absolute;
  right: 150px;
  top: 60px;
  width: 230px;
  border-radius: 10px;
  height: 150px;
  z-index: 2000;
}
.tri{
  width: 0px;height: 0px;
  margin-left: 130px;
  margin-top: -20px;
  border-top:50px solid none;
  border-bottom:50px solid rgb(26, 32, 43);
  border-right: 50px solid transparent;
  border-left: 50px solid  transparent;
}

.profil-top {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  background-color: rgb(26, 32, 43);
  border-radius: 10px;
  display: flex
}




.profil-img{
  width: 100px;
  position:absolute;
  left: 12px;
  top: 24px;
}

.profil-name {
  margin-right: 5px;
}

.profil-infobox {
  width: 110px;
  position: absolute;
  right: 10px;
  color: aliceblue;
  font-family: "malgun-gothic";
  font-weight: 700;
  font-size: 14px;
  top: 40px;
}


.profil-logout:hover {
 cursor: pointer;
}





/*---------로그인모달창--------------*/

.Background {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1500;
}
.login-container {
  background-color: rgb(245, 245, 245);
  position: absolute;
  width: 370px;
  top: 20%;
  left: 50%;
  margin-left: -185px;
  border-radius: 10px;
  height: auto;

}


.loginTitle-container {
  width: 100%;
  height: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginTitle {
  margin-left: 30px;
  margin-bottom: 0;
}

.loginCloseBtn {
  margin-right: 40px;
  margin-bottom: 20px;
  width: 25px;
  height: 15px;
  border: none;
  background-color: rgb(245, 245, 245);
}

.loginCloseBtn img {
  width: 100%;
  height: 100%;
}

.loginInput-container {
  width: 100%;
  height: 80px;
  text-align: left;
  margin-left: 30px;
  margin-top: 25px;
}

.loginInput-container input {
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(233, 233, 233);
  background-color: rgb(245, 245, 245);
}

.loginInput-container input:focus {
  outline: none;
  border-bottom: solid 2px black;
}
 
.loginID {
  margin-bottom: 20px;
}

.loginBtn-container {
  width: 100%;
  height: 60px;
  margin-top: 35px;
}

.login-btn {
  width: 100%;
  height: 100%;
  border:none;
  background-color: rgb(240, 66, 66);
  color: aliceblue;
  font-family: 'esmanru_l';
}

.login-btn:hover {
  background-color: rgb(208, 0, 0);
}

.signup-btn {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border:none;
  background-color: rgb(59, 57, 211);
  color: aliceblue;
  font-family: 'esmanru_l';
}

.signup-btn:hover {
  background-color: rgb(0, 38, 255);
}




/*---------main 관련 속성----------*/

.slidemain {
  width: 100%;
  height: 100%;
  margin-bottom: 70px;
  overflow: hidden;
}




.sl-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.slider {
  list-style: none;
  height: 100%;
  position: relative;
  display: flex;
  padding-left: 0;
}

.slide {
  width: 100vw;
  height: 100%;
}

.mainImg {
  width: 100%;
  height: 100%;
  position: relative;
  left: -4px;
  object-fit: cover;
}

.dot-box {
  z-index: 1000;
  position:relative;
  margin-left: 20px;
  top: -65px;
  bottom: 0;
}

.maindot {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.maindot:hover {
  cursor: pointer;
}

/*---------------Top list 속성-------------- */


.top-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}


.top-title {
  font-family: "cafe";
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.top-box{
  width: 870px;
  height: 500px;
  border-radius: 2px;
  overflow: hidden;
}

.arrow-container {
  position:absolute;
  display: block;
  width: 100%;
  padding: 0;
  top: 30%;
  list-style: none;
}

.arrow-container li {
  position:absolute;
  margin-top: -30px;
}

.arrow-container img {
  width: 50px;
}

.leftarrow {
  float: left;
  margin-left: -10px;
}


.rightarrow {
  float: right
}




.top-ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-left: -5px;
}

.top-li {
  height: 360px;
  width: 274px;
  margin-left: 15px;
}

.top-li:hover {
  cursor: pointer;
}


.top-li img {
  width: 95%;
  height: 95%;
  border-radius: 7px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  -webkit-user-drag: none;
}

.top-imginfo {
  height: 40px;
  width: 260px;
  margin-top: 20px;
  margin-left: 8px;
}

.top-imgname{
  font-family: "malgun-gothic",sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.top-imgprice {
  font-family: "cafe24su";
  font-size: 21px;
  color: #000000;
}

.topunit {
  font-family: "malgun-gothic",sans-serif;
  font-weight: bold;
  font-size: 13px;
}

.banner {
  background-color: black;
  width: 840px;
  margin: 0 auto;
  margin-top:80px;
  margin-bottom: 20px;
}

.banner img {
  width: 100%;
  object-fit: cover;
}

/*--------------------------------------- */
footer {
  margin-top: 50px;
  background-color: rgb(247, 247, 247);
  border-top: rgb(231, 231, 231) solid 1px;
  height: 200px;
}

.footer-content {
  display: flex;
  list-style: none;
  justify-content: space-around;
  border-bottom: rgb(194, 194, 194) solid 0.5px;
  text-align: center;
  margin: 30px auto;
  padding: 15px 50px;
  width: 50%;
}

/*------------product페이지 css 속성 ------------- */
.productpage {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1300px;
}

.product-container {
  width: 100%;
  height: auto;  
  margin-top: 50px;
} 

.product-title{
  width: 100%;
  height: 50px;
  font-size: 25px;
  font-family: "malgun-gothic",sans-serif;
  font-weight: bold;
  padding-top: 8px;
  border-bottom: rgb(209, 209, 209) solid 1px;
  text-align: left;
  margin-top: 95px;
  padding-left: 10px;
}

.sort-box {
  width: 100%;
  height: 30px;
  margin-top: -30px;
  margin-bottom: 90px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 10px;
}
.sort-box:hover {
  cursor: pointer;
}
.sort-box div:not(:last-child) {
  margin-right: 15px;
}

.sort-item-bold {
  font-size: 13px;
  font-family: "malgun-gothic",sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.sort-item-normal {
  color: rgba(0, 0, 0, 0.564);
  font-size: 13px;
  font-family: "malgun-gothic",sans-serif;
  font-weight: bold;
}

.product-box {
  width: 100%;
  height: 100%;
  margin-top: 15px;
}

.ulProduct {
  list-style: none;
  padding: 0;
  display: grid;
  grid-row-gap: 100px;
  grid-column-gap:7px;
  grid-template-columns: repeat(4, 1fr);

}


.liProduct {
  background-color: rgb(240, 240, 240);
  border: rgb(208, 208, 208) solid 1px;
}


.liProduct:hover {
  cursor: pointer;
}




.liproduct-imgwrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.liproduct-text {
  margin-top: 10px;
}

.liproduct-text p {
  margin-bottom: 9px;
}

.liproduct-name {
  font-family: "malgun-gothic",sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.liproduct-price{
  font-family:'cafe24';
  font-size: 20px;
  font-weight: bold;
  margin-top: 1px;
}

.liproduct-price span{
  font-family: "malgun-gothic",sans-serif;
  font-size: 14px;
  font-weight: bold;
}

/*------------detail페이지 css 속성 ------------- */

.detail-container {
  width: 100%;
  height: auto;
  margin-top: 100px;
  overflow: hidden;
}

.detail-product {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
  border: rgb(221, 221, 221) 1px solid;
  width: 800px;
  background-color: rgb(252, 252, 252);
  border-radius: 3px;
  margin: 0 auto;
}

.detail-imgwrap {
  width: 300px;
  height: 450px;
  margin: 50px 0;
  box-shadow: 1px 1px 2px 1px rgb(151, 151, 151);
  border: rgb(214, 214, 214) 1px solid;
}

.detail-imgwrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-box {
  width: 400px;
  margin: 50px 0;
  margin-left: 50px;
}


.detail-text {
  width: 335px;
  border-top: 2px solid rgb(134, 134, 134);
  text-align: left;
  margin-left: 15px;
}

.detail-name {
  margin-top: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: solid 1px rgb(201, 201, 201);
}

.detail-price {
  margin-top: 18px;
  padding-left: 3px;
  padding-bottom: 13px;
  font-size: 25px;
  font-family:'cafe';
  font-weight: bold;
  border-bottom: solid 1px rgb(201, 201, 201);
}

.detail-button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.detail-button button {
  width: 160px;
  height: 50px;
  margin:  0 10px;
  border-radius: 1px;
  border: solid 1px rgb(151, 151, 151);
  background-color: rgb(99, 99, 99);
  color: aliceblue;
  font-family: 'esmanru_l';
  font-weight: lighter;
}

.detail-button button:hover {
  background-color: aliceblue;
  color: rgb(99, 99, 99);
}

.tab-btnbox {
  height: 55px;
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.tab-btnbox button {
  width: 50%;
  height: 100%;
  border-top: 1px solid rgb(220, 220, 220);
  border-left: 1px solid rgb(220, 220, 220);
  border-right: 1px solid rgb(220, 220, 220);
  font-family: 'malgun-gothic';
  font-weight: bold;
  font-size: 15px;

}

.tab-btnbox button:not(:last-child) {
  border-right: none;
}


.tab-content {
  background-color: #e4e4e4;
  height: auto;
  width: 800px;
  margin: 0 auto;
  overflow:hidden;
  word-wrap:break-word;
  text-align: left;
  border: 1px solid rgb(220, 220, 220);
  border-top: none;
}

.select-tab {
  background-color: white;
  border-bottom: none;
  color: rgb(0, 0, 0);
}

.no-tab {
  color: rgb(160, 160, 160);
  border-bottom: 2px solid rgb(220, 220, 220);
}

.tab-content img {
  width: 100%;
  object-fit: cover;
}


/*-----------------장바구니------------------- */


.cart-container {
  width: 800px;
  height: auto;
  margin: 0 auto;
  margin-top: 70px;
}

.cart-titlebox{
  border-bottom: solid 2.5px rgb(49, 49, 49);
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
}

.cart-titlebox p {
  padding-top: 6px;
  padding-left: 10px;
  text-align: left;
  font-size: 25px;
  font-family: 'esmanru_m';
}

.main-checkbox {
  width: 50px;
}


.checkbox {
  width: 50px;
}

.cart-listbox{
  list-style: none;
  padding: 0;
  display: grid;
  height: 50px;
  align-items: center;
  border: solid 1px rgb(216, 216, 216);
  margin-bottom: 0;
  grid-template-columns: 1fr repeat(5,2fr) ;
  background-color: rgb(240, 240, 240);
  font-size: 14px;
}


.list-item{
  list-style: none;
  padding: 0;
  display: grid;
  height: 100px;
  grid-template-columns: 1fr repeat(5,2fr) ;
  background-color: rgb(255, 255, 255);
  border-bottom: rgb(214, 214, 214) solid 1px;
  border-left: rgb(214, 214, 214) solid 1px;
  border-right: rgb(214, 214, 214) solid 1px;
  align-items: center;
  margin-bottom: 0;
}

.list-item button {
  width: 28px;
  margin-left: 5px;
  border: 1px solid rgb(223, 223, 223);
  background-color: rgb(241, 241, 241);
  color: rgb(82, 82, 82);
}

.list-img {
  width: 60px;
  height: 80px;
  justify-self: center;
}

.list-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.basket-btn {
  display: flex;
}

.finalbasket {
  width: 100%;
  height: 350px;
  margin-top: 100px;
  
}

.line-top {height:1px;background:#5d5d5d;font-size:0;line-height:0;padding:0;margin:0;}
.line-bottom {height:1px;background:#5d5d5d;font-size:0;line-height:0;padding:0;margin-top:60px;}

.finaltitle { 
  background:#FFF;
  font-family:'malgun-gothic';
  font-weight: bolder;
  font-size:20px;
  margin-left: 25px;
  margin-top: -17px;
  position:absolute;
  color: #2e2d2d;
}


.table {
  height: 180px;
  width: 800px;
  text-align: center;
  margin-top: 50px;
  font-family: 'malgun-gothic';
  font-weight: bold;
}

.table td {
  vertical-align : middle;
  padding-bottom: 20px;
  padding-left: 20px;
  
}
.table thead {
  font-size: 14px;
}

.table tbody {
  font-size: 17px;
}


.alltotal {
  border-left: 1px solid;
  font-size: 20px;
  flex-grow: 1;
}


.alltotal div {
  margin-left: 10px;
}

.basketlastBtn{
  display: flex;
  position: relative;
}

.basketbtnBox{
  margin-top: 40px;
}

.basketbtnBox button {
  margin-left: 10px;
}

.paybtn {
  width: 150px;
  height: 50px;
  border: solid 1px rgb(170, 170, 170);
  background-color: rgb(87, 87, 87);
  color: rgb(255, 255, 255);
  font-family: 'esmanru_l';
}

.paybtn:hover {
  border: solid 1px rgb(219, 219, 219);
  background-color: rgb(246, 252, 255);
  color: rgb(77, 77, 77);
}

.paybtn:active {
  border: solid 1px rgb(219, 219, 219);
  background-color: rgb(246, 252, 255);
  color: rgb(77, 77, 77);
  box-shadow: 1px 1px 1px 1px black;
}

.delbtn {
  width: 90px;
  height: 30px;
  margin-top: 20px;
  background-color: rgb(87, 87, 87);
  color: rgb(255, 255, 255);
  font-family: 'esmanru_l';
  padding-top: 2px;
  border: solid 1px rgb(170, 170, 170);
  font-size: 12px;
}

.delbtn:hover {
  border: solid 1px rgb(219, 219, 219);
  background-color: rgb(246, 252, 255);
  color: rgb(77, 77, 77);
}

.delbtn:active {
  border: solid 1px rgb(219, 219, 219);
  background-color: rgb(246, 252, 255);
  color: rgb(77, 77, 77);
  box-shadow: 1px 1px 1px 1px black;
}





/*--------------------------------------- */
@font-face {
  font-family: "esmanru_m";
  src: url(./font/esamanru_M.ttf);
}

@font-face {
  font-family: "cafe";
  src: url(./font/Cafe24Dangdanghae.ttf);
}

@font-face {
  font-family: "esmanru_l";
  src: url(./font/esamanru\ Light.ttf);
}

@font-face {
  font-family: "malgun-gothic";
  src: url(./font/Malgun-Gothic.ttf);
}


@font-face {
  font-family: "cafe24oh";
  src: url(./font/Cafe24Ohsquare.ttf);
}

@font-face {
  font-family: "cafe24su";
  src: url(./font/Cafe24Ssurround.ttf);
}

@media (max-width : 750px) {
  .box{
    width: 30px;
  }
  .box img {
    top: -5px;
  } 
}


@media (max-width : 840px) {
  .detail-product {
    width: 100%;
    flex-direction: column;

  }
  .detail-imgwrap {
    margin: 15px auto;
  }
  .detail-box {
    margin: 0  auto;
    margin-top: 30px;
  }
  .detail-text {
    width: 300px;
    margin-left: 43px;
  }
  .detail-button {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: -15px;
  }
  .detail-button button {
    width: 140px;
    height: 50px;
  }
  
  
}

/*모바일*/
@media all and (max-width:479px) {
  .detail-product {
    width: 350px;
  }
  .detail-box {
    width: 350px;
    margin-left: -68px;
  }
  .detail-imgwrap {
    margin-left: -25px;
  }
  .detail-button {
    margin-left: 30px;
  }
  
  .container {
    margin-left: -20px;
  }

  /*-----------------toplist---------------*/

  .top-ul {
    margin-left: 2px;
  }

  .slide {
    width: 100vw;
    height:30vh;
  }
  
  .sl-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
  }



  .slidemain {
    width: 100%;
    height: 100%;
    margin-bottom: 19px;
  }
  .top-ul {
   margin-top: 15px;
  }
  
  .maindot {
    width: 10px;
    height: 10px;
  }
  
  .dot-box {
    top: -55px;
    left: -5px;
  }

  .sort-box {
    margin-top: -30px;
    margin-bottom: 50px;
  }

  .sort-item-normal {
    font-size: 10px;
  }
  .sort-item-bold {
    font-size: 10px;
  }

  .ulProduct {
    list-style: none;
    padding: 0;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }

  .liproduct-name {
    font-size: 10px;
  }

  .liproduct-price {
    font-size: 15px;
  }

  .liproduct-price span {
    font-size: 5px;
  }

  .liproduct-imgwrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


  .product-container{
    height: 640px;
  }
  .product-title {
    margin-top: 10px;
    font-size: 20px;
    padding-top: 13px;
  }
  .productpage {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 5px;
  }

  .info {
    font-size: 13px;
  }

  .infoname {
    width: 103px;
  }

  .pw {
    padding-bottom: 50px;
  }


  .pw-condition {
    position:absolute;
    margin-top: 62px;
    margin-left: 12px;
    font-size: 10px;
  }

  .warning {
    position:absolute;
    margin-top: 103px;
    margin-left: 12px;
    font-size: 10px;
  }

  .input-info {
    width: 125px;
    height: 24px;
  }

  .phoneNum {
    width: 60px;
    height: 24px;
  }

  .phone select {
    width: 50px;
    height: 24px;
  }


  .all-check {
    font-size: 12px;
  }

  .touitem p {
    font-size: 12px;
  }
  .check-custom img {
    width: 20px;
  }

  summary {
    font-size: 10px;
  }
}


